
//variable declarations

/* GRID CODE REFERENCED FROM
https://www.youtube.com/watch?v=68O6eOGAGqA
*/

.header{
    color: red;
    height: 70px;
    text-align: center;
    font-family: cursive;
}

//class for the navigation menu that styles and positions it and any list items contained within it 
nav{
    font-size: xx-large;
    font-weight: bolder;
    background: black;

    grid-area: nav;
    align-self: center;

        li{
            display: inline;
            list-style-type: none;
            float: right;
            padding-right: 15px;
            padding-bottom: 20px;
            font-size: large;
            font-family: fantasy;
        }
}

//container class that will be used to divide and allocate screen space to different elements on the page in order to style and position them
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 0.3fr 2fr ;

    grid-template-areas: 
    "nav nav nav nav nav"
    "..... gameinfo gameinfo gameinfo ....."
    
}

//wrapper class for the elements that will be used to display game information in order to format and style them
#gameInfoBox{
    grid-area: gameinfo;
    background-color: white;
    background: white;
    border: 5px solid orangered;

    font-family: cursive;
    font-size: medium;
    word-wrap: break-word;

    p{
        margin-left: 6px;
        margin-bottom: 15px;
        margin-top: 6px;
    }
}

.paragraph-hover
{
    font-size: medium;
    p:hover:before
    {
        font-size: large;
        color: lightseagreen;
    }
}


//settings for the background image of the page
body{
    background-size: cover;
    background-repeat: no-repeat;
}

//styling settings for the game description heading
#gameDescHeading{
    font-weight: bold; 
    text-align: center;
    margin-top: 7px;
}

//explicit class for the email submission button that styles and positions it 
#btnSubmit{
    background-color: red;
    color: white;
    font-size: large;
    font-weight: bold;
    align-self: center;
    margin-top: 5px;
}

//class for our newsletter subscription form that styles and positions it and any labels in it 
form{
    align-self: center;
    text-align: center;   
    margin-left: 600px;
    margin-right: 600px;
    background: black;
    border: 3px solid white;

        label{
            color: white;
            font-size: x-large;
        }
}

//class for the page footer that formats it
footer{
    text-align: center;
}